<!DOCTYPE html>


<h1 class="page-header">Jogar</h1>

<h4>Selecione um adversário para uma partida</h4>
<br/>

<table summary="Lista de Jogadores" id="tbListaJogadores"
	class="table table-striped">
	<tbody>
		<% jogadores.forEach(function(jogadores){ %>
		<tr>
			<td><img width="60" src="/img/no-avatar.jpg"></td>
			<td><%= jogadores.apelido %></td>
			<td>
				<a  class='btn btn-mini btn-amigo btnVerPerfil' data-numero="<%= jogadores.nr_jogador %>" data-toggle='tooltip' data-placement='top'
					data-original-title='Ver perfil' title='Ver perfil'><i class="glyphicon glyphicon-user"></i>
				</a>
				
				<a  class='btn btn-mini btn-amigo btnAddAmigo' 
					data-numero="<%= jogadores.nr_jogador %>"
					data-apelido="<%= jogadores.apelido %>"
				 	data-toggle="modal"
				 	data-target="#modalAddAmigo" 
				 	data-placement='top'
					data-original-title='Adicionar amigo' 
					title='Adicionar amigo'><i class="glyphicon glyphicon-plus"></i>
				</a>
				
				<a class='btn btn-mini btn-amigo btnConvidar' 
					data-numero="<%= jogadores.nr_jogador %>" 
					data-toggle='tooltip' 
					data-placement='top'
					data-original-title='Convidar para jogar' 
					title='Convidar para jogar'><i class="glyphicon glyphicon-tower"></i>
			    </a>
			</td>
		</tr>
		<% });%>
	</tbody>
</table>


<div class="modal fade" id="modalAddAmigo">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Amigos</h4>
			</div>
			<div class="modal-body">
				<p>[<strong id="apelido_novo_amigo">apelido</strong>] foi adicionado com sucesso à sua lista de amigos!</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-success" data-dismiss="modal">OK</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->



<script type="text/javascript">
	$(function(){
		$("#menu-jogar").addClass('active');
		criaGrid();
			
		$('.btnVerPerfil').on('click',function(e){
			var id = $(this).data('numero');	
			location.href="/player/"+id;
			e.preventDefault();
		});		
		
		$('.btnAddAmigo').on('click',function(e){	
			var id = $(this).data('numero');
			var apelido = $(this).data('apelido');
			$("#apelido_novo_amigo").text(apelido);

			$.ajax({
				url : '/player/novo_amigo',
				type : "POST",
				data : {nr_jogador : id}
			});

			e.preventDefault();
		});
		
		$('.btnConvidar').on('click',function(e){	
			var id = $(this).data('numero');
			location.href='/play/' + id;
			e.preventDefault();
		});
		
		
	});
	
	function criaGrid(){
		$('#tbListaJogadores').dataTable({
			"sPaginationType" : "full_numbers",
			"bPaginate" : true,
			"bDestroy" : true,
			"oLanguage" : {
				"sProcessing" : "Aguarde enquanto os dados são carregados ...",
				"sLengthMenu" : "Mostrar _MENU_ registros por página",
				"sZeroRecords" : "Nenhum registro correspondente ao criterio encontrado",
				"sInfoEmtpy" : "Exibindo 0 a 0 de 0 registros",
				"sInfo" : "Exibindo de _START_ a _END_ de _TOTAL_ registros",
				"sInfoFiltered" : "",
				"sSearch" : " ",
				"oPaginate" : {
					"sFirst" : "Primeiro",
					"sPrevious" : "Anterior",
					"sNext" : "Próximo",
					"sLast" : "Último"
				}
			},
			"aoColumns": [
			              null,
			              null,
			              null
			            ]
		});
		tratarGrid();
	}
	
	function tratarGrid(){
		$('table tbody tr td:nth-child(2)').css('padding-top','30px');
		$('table tbody tr td:nth-child(3)').css('padding-top','22px');
		$('table thead').hide();
		$('table.dataTable.no-footer').css('border','none');
		$('input[aria-controls="tbListaJogadores"]').addClass('form-control')
		.attr('placeholder','Encontrar amigo').css('width','190px');
		$('#tbListaJogadores_filter label').append('<i class="glyphicon glyphicon-search"></i>');
		$('.glyphicon-search').css({'position ' : 'relative','top' :'-23px','left' : '-15px'});
		$('.btn-amigo').css('border','1px solid #00B7FF');
	}


</script>