<!DOCTYPE html>
<html>
  <head>
  	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>
    	<% if(typeof title !== "undefined"){%>
        <%= title %>
        <% }else{ %>
        Sputinick Tomonôku
        <% }%>
    </title>
    
    <link href="/bootstrap/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="/css/main.css" rel="stylesheet" type="text/css"/>
    <link href="/css/jquery.dataTables.css" rel="stylesheet" type="text/css"/>

    <script src="/js/jquery.js"></script>
    <script src="/js/jquery.dataTables.js"></script>
    <script src="/bootstrap/bootstrap.min.js"></script>
    <script src="/js/mask.js"></script>
  </head>
  <body>

  	<div class="container">
    	
    	<div id="header">
    		<% include header.ejs %>
    	</div>
    	<br/>

        <% if(typeof message != "undefined") {%>
        <div class="alert alert-dismissable <%= message.type %>">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <span><%= message.text %> </span>
        </div>
        <% }%>


    	<div id="wrap" >
            
            <!-- MENU DE NAVEGACAO -->
            <div id="wrap_navigation" class="col-md-2">
                <%- include ../player/player_info.ejs %>
                
                <%- include menu_navigation.ejs %>
                <br/>
            </div>
            
            <!-- CONTEUDO DAS PAGINAS -->
            <div id="content-page" class="col-md-10">
                <%- body %>
            </div>

            <div id="both"></div>

    	</div>

    	<div id="footer">
    		<% include footer.ejs %>
    	</div>

    </div>

    
  </body>
</html>